body {
background-color: #282c34;
  main {
    border:1px solid whitesmoke;
    margin:0 auto;
    margin-top: 2rem;
    width:80%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display:flex;
    justify-content: center;
  }
}